# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}

permissions:
  contents: write
  actions: read

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          #  - repo
          # The following additional scopes may be required:
          #  - read:org  (for organization related metrics)
          #  - read:user (for user related data)
          #  - repo      (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: SynlysAI
          template: classic
          base: header, repositories
          config_timezone: Asia/Shanghai
          repositories_forks: false
          plugin_achievements: no
          plugin_followup: no
          plugin_habits: no
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_languages: no
          plugin_traffic: no
